<?xml version="1.0"?>
<launch>

  <arg name="uav_enabled"           	default="true"					/>
  <arg name="uav_namespace"           	default="quad"					/>

  <arg name="ugv_enabled"           	default="true"					/>
 
  <arg name="ugv_camera_info"     default="/camera/rgb/camera_info"                    	/>
  <arg name="ugv_camera_frame"    default="/camera_frame_optical"  			/>
  <arg name="ugv_image_topic"     default="/camera/rgb/image_raw"             		/>

  <arg name="uav_camera_info"     default="$(arg uav_namespace)/camera_/camera_info"   	/>
  <arg name="uav_camera_frame"    default="$(arg uav_namespace)/quad/camera_link"  	/>
  <arg name="uav_image_topic"     default="$(arg uav_namespace)/camera_/image_raw"      />
 
  <arg name="apriltag_config_yaml"       default="$(find case_study_2)/config/apriltags.yaml"  />

  <!-- start Apriltags detector for the UAV -->

  <group ns="$(arg uav_namespace)" if="$(arg uav_enabled)">       
  
	<include file="$(find case_study_2)/launch/internal/apriltag_ros.launch">
    		<arg name="camera_info"		value="$(arg uav_camera_info)"		/>
    		<arg name="camera_frame"    	value="$(arg uav_camera_frame)"		/>
    		<arg name="image_topic"        	value="$(arg uav_image_topic)"		/>
    		<arg name="apriltags_cfg_yaml" 	value="$(arg apriltag_config_yaml)"	/>
  	</include>
  
  </group>

  <!-- start Apriltags detector for the UGV -->

  <group if="$(arg ugv_enabled)">       
  
	<include file="$(find case_study_2)/launch/internal/apriltag_ros.launch">
    		<arg name="camera_info"		value="$(arg ugv_camera_info)"		/>
    		<arg name="camera_frame"    	value="$(arg ugv_camera_frame)" 	/>
    		<arg name="image_topic"        	value="$(arg ugv_image_topic)"         	/>
    		<arg name="apriltags_cfg_yaml" 	value="$(arg apriltag_config_yaml)"     />
  	</include>

  </group>

</launch>
